<!DOCTYPE html>
<html>
<head>
  <title>Global Warming-A serious threat</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  </head>
<body>
<div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "log in", log_in_path %>
  <% end %>
<!-- Place this tag in the <head> of your document -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">{lang: 'en'}</script>

<!-- Place this tag where you want the badge to render -->
<div class="g-plus" data-href="https://plus.google.com/116748695706042234099?rel=publisher" data-width="300" data-height="69" data-theme="light"></div>
</div>
<div id="flash">
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
</div>
<%= yield %>

</body>
</html>
